{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div><img id="pokedex" src="{{ asset('assets/images/pokedex.png') }}" alt=""></div>
    </div>
    <div>
<p>Le Pokédex, en japonais ポケモン図鑑(se lisant Pokémon Zukan), signifiant « Encyclopédie Pokémon» est un objet technologique fictif de l'univers Pokémon : il s'agit d'une encyclopédie recensant les créatures fictives connues éponymes. Il permet d'enregistrer les informations sur les Pokémon. Dans les jeux vidéo Pokémon, le but du joueur est de compléter le Pokédex en capturant l'ensemble des 1008 espèces1 de Pokémon réparties en neuf générations bien qu'en réalité, il ne soit jamais possible d'attraper l'ensemble de ces Pokémon sur un même jeu de la licence. </p></div>
{% endblock %}
