:root{
    --pkm_blue:#281e83;
    --pkm_yellow:#ffd301;
    --pkm_grey:#383838;
    --pkm_red:#FF0000FF;
}

@font-face {
    font-family:'pokemon';
    src: url("../fonts/PocketMonk-15ze.ttf") format("truetype");
}

/********************************** STYLES GENERAUX **********************************/
body{
    font-family: "Arial", serif;
    margin:0;
    position: relative;
    background-color: #eaeaea;
    height: 100%;
}

h1{font-family: pokemon, serif;}

    h1 a{text-decoration: none;color: var(--pkm_red);}

h2{ color: var(--pkm_blue); text-align: center;margin-top: 10vh }

/****************************** STYLES UTILITAIRES **********************************/
/* backgrounds */
.bg-ok{
    background-color: var(--pkm_blue);
}
.bg-warning{
    background-color: var(--pkm_red);
}

/* styles boutons*/
.actions{
    text-align: center;
    margin: 30px;
}

.btn{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px 100px / 120px;
    margin: 30px;
}

.btn:hover{
    border-radius: 100px 10px / 120px;
}

/****************************** STYLES ELEMENTS ************************************/

/*------------- HEADER ----------------*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--pkm_grey);
    height: 7vh;
    /*box-shadow: 0 10px 5px var(--pkm_red);*/
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
}
    .logo{ width: 50px; }
    .header{ display: inline-block; }

    nav ul li{
        list-style:none;
        display: inline-block;
        font-size: 1.5em;
        width: 150px;
    }

    nav ul li a{ color: white; text-decoration: none; }
    nav ul li a:hover{  font-weight: bold; }
    .logo:hover{ rotate: 30deg; }

/*------------- MAIN ----------------*/
main{ margin: 50px;}

/*------------- FOOTER ----------------*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 10vh;
    background-color: var(--pkm_grey);
    color: white;
    text-align: center;
}

/****************************** STYLES CARDS LIST POKEDEX **********************************/
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7vh;
}

.card {
    width: 250px;
    height: 350px;
    margin: 5px;
    border-radius: 10px 10px;
}

.card-body{
    margin: 10px;
    color: var(--pkm_blue);
}

.card-title{
    text-align: center;
    color: white;
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px;
}
.card-title a{
    color: var(--pkm_yellow);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5em;
}
.card-header{
    background-color: var(--pkm_blue) ;
    text-align: right;
    font-weight: bold;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.shiny{
    background: var(--pkm_yellow) linear-gradient(130deg, var(--pkm_yellow) 80%, rgba(255, 255, 255, 1) 90%, var(--pkm_yellow) 100%);
}
.not-shiny{
    background: var(--pkm_yellow);
}
.div-illu{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.card-illu{
    text-align: center;
    width: 130px;
    filter: drop-shadow(0 0 0.2rem var(--pkm_blue) );
}

.card-illu:hover{
    filter: drop-shadow(0 0 0.5rem var(--pkm_blue) );
    /*width: 120px;*/
    transform: scale(2);
}

/****************************** STYLES DETAILS POKEMON + CREATION **********************************/

.detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    margin-left: 20px;
    width: 300px;
    background-color: white;
    color: var(--pkm_blue);
}

.pkm_name {
    background: var(--pkm_red);
    color: white;
    display: flex;
    justify-content: center;
}

.pkm_details{
    margin: 20px;
}

.illu img{
    width: 400px;
    margin-right: 20px;
}

.container{
    display: flex;
    justify-content: center;
}

#pokedex{width: 200px}

.description form input,.description form select{
    margin: 5px 0 15px 0;
}

select {
    background-color: var(--pkm_blue);
    color: white;
    border: 0;
    border-radius:5px;
    height:30px;
    width:170px;
    padding: 2px 4px;
}

select[multiple] {
    height:auto;
}

.pkm_types{
    margin-right: 5px;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    box-shadow: 2px 2px 2px var(--pkm_grey);
}

.fire{
    background-color: #f08030;
}
.flying{
    background-color: #a890f0;
}
.steel{
    background-color: #b8b8d0;
}
.normal{
    background-color: #a8a878;
}
.fighting{
    background-color: #c03028;
}
.poison{
    background-color: #a040a0;
}
.ground{
    background-color: #e0c068;
}
.rock{
    background-color: #b8a038;
}
.bug{
    background-color: #a8b820;
}
.ghost{
    background-color: #705898;
}
.water{
    background-color: #6890f0;
}
.grass{
    background-color: #78c850;
}
.electric{
    background-color: #f8d030;
}
.psychic{
    background-color: #f85888;
}
.ice{
    background-color: #98d8d8;
}
.dragon{
    background-color: #7038f8;
}
.dark{
    background-color: #705848;
}
.fairy{
    background-color: #ee99ac;
}

/* flash styles */
.alert-success{
    background-color: var(--pkm_blue);
}
.alert-danger{
    background-color: var(--pkm_red);
}